body {
    font-family: Arial, sans-serif;
    color: #fff;
    background: linear-gradient(to bottom, #141414, #2a2a2a);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header {
    background-color: #1a1a1a;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 100%;
    position: fixed;
    top: 0;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 40px;
    height: auto;
    margin-right: 10px;
}

nav {
    display: flex;
}

#menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-item {
    margin: 0 15px;
}

.menu-item a {
    color: #b3b3b3;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

.menu-item a:hover {
    color: #fff;
}

.form-container {
    background-color: #1a1a1a;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    max-width: 400px;
    width: 100%;
    text-align: left;
    margin-top: 80px;
}

h1 {
    margin-bottom: 10px;
    text-align: center;
}

p {
    margin-bottom: 20px;
    text-align: center;
}

hr {
    border: 1px solid #333;
    margin-bottom: 25px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 8px 0 20px;
    display: inline-block;
    border: none;
    border-radius: 5px;
    background: #333;
    color: #ddd;
}

input[type="text"]::placeholder, input[type="password"]::placeholder {
    color: #999;
}

input[type="text"]:focus, input[type="password"]:focus {
    background-color: #444;
    outline: none;
}

.btn {
    padding: 12px 20px;
    width: 48%;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    margin: 8px 1%;
    text-align: center;
    flex: 1; 
    padding: 12px; 
    max-width: 150px;
}

.cancelbtn {
    background-color: #f44336;
}

#handleSubmit {
    background-color: #2093c5;
}

.btn:hover {
    opacity: 0.9;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.clearfix {
    display: flex;
    justify-content: center;
    gap: 10px; 
}